@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;

    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;

    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;

    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;

    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
}

.header {
    width: 100%;
    height: 650px;
    padding-top: 35px;

    color: white;
    background-color: #0000ff;
    background-image: url(..//img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a,
.navbar__logo {
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.navbar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 38px;
    margin: 0 auto;

    color: #f9fbfd;
}

.navbar__logo {
    width: 70px;
    height: 38px;

    font-size: 0;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;

    list-style-type: none;
}

.navbar__menu-item {
    margin-right: 33px;

    font-weight: 500;
    line-height: 20px;
}

.header__text {
    margin-top: 210px;
    margin-left: 198px;
}

.navbar__menu-link {
    text-decoration: none;

    color: white;
}

.navbar__menu-item:last-child {
    margin-right: 0;
}

.header__text h1 {
    margin-bottom: 14px;

    font-size: 54px;
    line-height: 66px;
}

.header__text p {
    font-size: 20px;
    line-height: 24px;
}

.trip {
    display: flex;
    align-items: center;

    height: 521px;
}

.trip__content {
    display: flex;
    align-items: center;

    width: 100%px;
    height: 301px;
    margin: 0 auto;
}

.trip__text {
    width: 600px;

    line-height: 150%;
}

.trip__text h2 {
    margin-right: 170px;
    margin-bottom: 33px;

    font-size: 28px;
    font-weight: 600;
}

.trip__text p {
    margin-right: 88px;

    font-size: 16px;
    font-weight: normal;
}

.trip__photo {
    font-size: 0;
}

.pros {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 562px;

    background-color: #e3ecf6;
    background-image: url(..//img/pros.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pros__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 322px;

    color: #011c40;
}

.pros__title {
    align-self: center;
}

.pros__title h2 {
    margin: 0;

    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

.pros__text {
    display: flex;
    justify-content: space-between;
}

.pros__liner {
    position: relative;

    width: 360px;
    height: 241px;
    padding-top: 77px;
    padding-left: 30px;

    background-color: #f9fbfd;

    font-size: 0;
}

.pros__liner::before {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 27px;
    height: 32px;

    content: url(../img/liner.svg);
}

.pros__liner h3 {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.pros__liner p {
    margin-top: 0;
    margin-right: 32px;
    margin-bottom: 0;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}

.pros__checkbox {
    position: relative;

    width: 360px;
    height: 241px;
    padding-top: 77px;
    padding-left: 30px;

    background-color: #f9fbfd;
}

.pros__checkbox::before {
    position: absolute;
    top: 35px;
    left: 30px;

    width: 38px;
    height: 21px;

    content: url(../img/checkbox.svg);
}

.pros__checkbox h3 {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.pros__checkbox p {
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 0;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}

.pros__boat {
    position: relative;

    width: 360px;
    height: 241px;
    padding-top: 77px;
    padding-left: 30px;

    background-color: #f9fbfd;
}

.pros__boat::before {
    position: absolute;
    top: 38px;
    left: 30px;

    width: 42px;
    height: 15px;

    content: url(../img/boat.svg);
}

.pros__boat h3 {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.pros__boat p {
    margin-top: 0;
    margin-right: 89px;
    margin-bottom: 0;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}

.cruises {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 1123px;
}

.cruises__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 1130px;
    height: 883px;
    margin-left: 15px;
}

.cruises__cards {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 862px;
}

.cruises__card {
    width: 260px;
    height: 386px;
    margin-top: 30px;
}

.cruises__title h2 {
    margin: 0;

    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

.cruises__card-photo {
    position: relative;

    font-size: 0;
}

.cruises__card:hover .cruises__card-photo {
    display: none;
}

.cruises__card-text {
    position: relative;

    display: none;

    height: 100%;
    padding-top: 35px;
    padding-left: 25px;

    color: #f9fbfd;
    background-color: #011c40;
}

.cruises__card-text h3 {
    margin-top: 0;
    margin-bottom: 11px;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.cruises__card-text dl {
    margin: 0;
}

.cruises__card-text dt {
    margin-bottom: 1px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.cruises__card-text dd {
    margin-bottom: 11px;
    margin-left: 0;

    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.cruises__card:hover .cruises__card-text {
    display: block;
}

.cruises__card-title {
    position: absolute;
    bottom: 30px;
    left: 30px;

    color: #f9fbfd;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.cruises__link {
    position: absolute;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 40px;

    text-decoration: none;

    color: #011c40;
    background-color: #f9fbfd;

    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

.booking {
    display: flex;
    align-items: center;

    width: 100%;
    height: 555px;

    background-color: #0b76f1;
    background-image: url(..//img/booking.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.booking__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 455px;
    padding: 0 60px;
}

.booking__form {
    display: flex;
    flex-direction: column;

    width: 403px;
    height: 455px;
    padding: 50px;

    background-color: #011c40;
}

.booking__text {
    color: #011c40;
}

.booking__text h2 {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 40px;
    font-weight: bold;
    line-height: 150%;
}

.booking__text p {
    width: 352px;
    margin: 0;

    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
}

.booking__form p {
    margin-top: 0;
    margin-bottom: 21px;

    color: #f9fbfd;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 303px;
    height: 43px;
    margin-bottom: 20px;

    color: #011c40;
    background-color: #f9fbfd;

    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
}

.form {
    display: flex;
    flex-direction: column;
}

/* input[type="checkbox"] { 
    width: 18px;
    height: 18px;
    margin: 0;
 } */

input[type="submit"] {
    width: 303px;
    height: 43px;

    color: #011c40;

    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

input[placeholder] {
    padding-left: 10px;
}

/* .checkbox { 
    display: flex;
    align-items: center;

    margin-bottom: 30px;

    color: #f9fbfd;

    font-size: 10px;
    font-weight: normal;
    line-height: 130%;
} */

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.checkbox {
    position: relative;
}

.checkbox p {
    position: relative;

    display: inline-block;

    padding-left: 22px;

    color: #f9fbfd;

    font-size: 10px;
    font-weight: normal;
    line-height: 130%;
}

.border {
    position: absolute;
    top: 3px;

    width: 18px;
    height: 18px;

    border: 1px solid #101a56;
    background: #f9fbfd;
}

.checkbox p::before {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 4px;

    width: 11px;
    height: 8px;

    content: "";

    background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

input[type="checkbox"]:not(:checked) + p::before {
    display: none;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 546px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 306px;
}

.contacts__map {
    position: relative;

    width: 560px;
    height: 306px;
}

.contacts__map-marker {
    position: absolute;
    right: 293px;
    bottom: 67px;

    width: 18px;
    height: 22px;
}

.contacts__text {
    width: 600px;
    height: 306px;
    padding-top: 81px;
    padding-left: 100px;
}

.contacts__text-slogan {
    margin-bottom: 31px;

    color: #011c40;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.contacts__text-slogan p {
    margin: 0;
}

.contacts__text-address {
    color: #011c40;

    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
}

.contacts__text-address_marker {
    position: relative;

    margin-bottom: 21px;
    padding-left: 28px;
}

.contacts__text-address_marker::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 22px;

    content: url(../img/marker.svg);
}

.contacts__text-address_phone {
    position: relative;

    padding-left: 28px;
}

.contacts__text-address_phone::before {
    position: absolute;
    top: 3px;
    left: 0;

    width: 18px;
    height: 18px;

    content: url(../img/phone.svg);
}

.contacts__text-address p {
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 138px;

    background-color: #011c40;
}

.footer .navbar__menu {
    margin-right: auto;
}

.footer .navbar__logo {
    margin-right: 40px;
}

.navbar__social {
    list-style-type: none;
}

.navbar .navbar__social-fb::before {
    position: absolute;
    top: 10px;
    right: 106px;

    width: 11px;
    height: 28px;

    content: url(../img/facebook.svg);
}

.navbar .navbar__social-inst::before {
    position: absolute;
    top: 10px;
    right: 53px;

    width: 20px;
    height: 20px;

    content: url(../img/instagram.svg);
}

.navbar .navbar__social-tw::before {
    position: absolute;
    top: 11px;
    right: 0;

    width: 20px;
    height: 16px;

    content: url(../img/twitter.svg);
}
