* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
}

.header {
    width: 100%;
    height: 650px;
    padding-top: 35px;

    color: white;
    background-color: #0000ff;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a:link,
.navbar__logo {
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 38px;
    margin: 0 auto;

    color: #f9fbfd;
}

.navbar__logo {
    width: 70px;
    height: 38px;

    font-size: 0;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;

    list-style-type: none;
}

.navbar__menu-item {
    margin-right: 33px;

    font-weight: 500;
    line-height: 20px;
}

.header__text {
    margin-top: 210px;
    margin-left: 198px;
}

.navbar__menu-link {
    text-decoration: none;

    color: white;
}

.navbar__menu-item:last-child {
    margin-right: 0;
}

.header__text h1 {
    margin-bottom: 14px;

    font-size: 54px;
    line-height: 66px;
}

.header__text p {
    font-size: 20px;
    line-height: 24px;
}

.trip {
    display: flex;
    align-items: center;

    height: 521px;
}

.trip__content {
    display: flex;
    align-items: center;

    width: 100%px;
    height: 301px;
    margin: 0 auto;
}

.trip__text {
    width: 600px;

    line-height: 150%;
}

.trip__text h2 {
    margin-right: 170px;
    margin-bottom: 33px;

    font-size: 28px;
    font-weight: 600;
}

.trip__text p {
    margin-right: 88px;

    font-size: 16px;
    font-weight: normal;
}

.trip__photo {
    font-size: 0;
}

.pros {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 562px;

    background-color: #e3ecf6;
    background-image: url(../img/pros.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pros__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 322px;

    color: #011c40;
}

.pros__title {
    align-self: center;
}

.pros__title h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

.pros__text {
    display: flex;
    justify-content: space-between;
}

.pros__liner {
    width: 360px;
    height: 241px;
    padding-top: 30px;
    padding-left: 30px;

    background-color: #f9fbfd;

    font-size: 0;
}

.pros__liner img {
    width: 27px;
    height: 32px;
    margin-bottom: 15px;
}

.pros__liner h3 {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.pros__liner p {
    margin-right: 32px;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}

.pros__checkbox {
    width: 360px;
    height: 241px;
    padding-top: 35px;
    padding-left: 30px;

    background-color: #f9fbfd;
}

.pros__checkbox img {
    width: 38px;
    height: 21px;
    margin-bottom: 16px;
}

.pros__checkbox h3 {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.pros__checkbox p {
    margin-right: 50px;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}

.pros__boat {
    width: 360px;
    height: 241px;
    padding-top: 38px;
    padding-left: 30px;

    background-color: #f9fbfd;
}

.pros__boat img {
    width: 42px;
    height: 15px;
    margin-bottom: 19px;
}

.pros__boat h3 {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.pros__boat p {
    margin-right: 89px;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}

.cruises {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 1123px;
}

.cruises__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 1130px;
    height: 883px;
    margin-left: 15px;
}

.cruises__cards {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 862px;
}

.cruises__card {
    width: 260px;
    height: 386px;
    margin-top: 30px;
}

.cruises__title h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

.cruises__card-photo {
    position: relative;

    font-size: 0;
}

.cruises__card:hover .cruises__card-photo {
    display: none;
}

.cruises__card-text {
    position: relative;

    display: none;

    height: 100%;
    padding-top: 35px;
    padding-left: 25px;

    color: #f9fbfd;
    background-color: #011c40;
}

.cruises__card-text h3 {
    margin-bottom: 11px;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.cruises__card-text h4 {
    margin-bottom: 1px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.cruises__card-text p {
    margin-bottom: 11px;

    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.cruises__card-text p:last-of-type {
    margin-bottom: 21px;
}

.cruises__card:hover .cruises__card-text {
    display: block;
}

.cruises__card-title {
    position: absolute;
    bottom: 30px;
    left: 30px;

    color: #f9fbfd;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.cruises__link {
    position: absolute;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 40px;

    text-decoration: none;

    color: #011c40;
    background-color: #f9fbfd;

    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

.booking {
    display: flex;
    align-items: center;

    width: 100%;
    height: 555px;

    background-color: #0b76f1;
    background-image: url(../img/booking.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.booking__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 455px;
    padding: 0 60px;
}

.booking__form {
    display: flex;
    flex-direction: column;

    width: 403px;
    height: 455px;
    padding: 50px;

    background-color: #011c40;
}

.booking__text {
    color: #011c40;
}

.booking__text h2 {
    margin-bottom: 30px;

    font-size: 40px;
    font-weight: bold;
    line-height: 150%;
}

.booking__text p {
    width: 352px;

    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
}

.booking__form p {
    margin-bottom: 21px;

    color: #f9fbfd;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 303px;
    height: 43px;
    margin-bottom: 20px;

    background-color: #f9fbfd;
}

.form {
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

input[type="submit"] {
    width: 303px;
    height: 43px;
}

input[placeholder] {
    padding-left: 10px;
}

.checkbox {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
    margin-bottom: 30px;

    color: #f9fbfd;

    font-size: 10px;
    font-weight: normal;
    line-height: 130%;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 546px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 306px;
}

.contacts__map {
    position: relative;

    width: 560px;
    height: 306px;
}

.contacts__map-marker {
    position: absolute;
    right: 293px;
    bottom: 67px;

    width: 18px;
    height: 22px;
}

.contacts__text {
    width: 600px;
    height: 306px;
    padding-top: 81px;
    padding-left: 100px;
}

.contacts__text-slogan {
    margin-bottom: 31px;

    color: #011c40;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.contacts__text-address {
    color: #011c40;

    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
}

.contacts__text-address p {
    display: flex;
}

.contacts__text-address img {
    margin-right: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 138px;

    background-color: #011c40;
}

.navbar__social-fb {
    width: 11px;
    height: 20px;
}

.navbar__social-inst {
    width: 20px;
    height: 20px;
}

.navbar__social-tw {
    width: 20px;
    height: 16px;
}

.navbar__social {
    display: flex;
    justify-content: space-between;

    list-style-type: none;
}

.navbar__social-item {
    margin-right: 33px;
}

.navbar__social-item:last-child {
    margin-right: 0;
}

.footer .navbar__menu {
    margin-right: auto;
}

.footer .navbar__logo {
    margin-right: 40px;
}
